/*------------------------------------*\
    $MOBILE TAB
\*------------------------------------*/

.accordian{
  // http://colinaarts.com/articles/the-magic-of-overflow-hidden/
  overflow: hidden;
}

  .accordian__title{
    cursor:pointer;
    @extend .unselectable;

    .accordian.is-inactive > &, .accordian.is-inactive > &:before{
      cursor:auto;
      color:$grey!important;
    }
  }

  .accordian__content{
    display:none;

    .accordian.is-active > &{
      display:block;
    }
  }

.accordian--expand{
  > .accordian__title{
    @extend %icon;
    @extend .icon--expand;

    &:before{
      color:$brand-color;
      margin-right: $half-spacing-unit;
    }
  }

  &.is-active > .accordian__title{
    @extend .icon--contract;
  }
}

.accordian--arrow{
  > .accordian__title{
    @extend %icon;
    @extend .icon--arrow-right-2;

    &:before{
      color:$brand-color;
      margin-right: $half-spacing-unit;
    }
  }

  &.is-active > .accordian__title{
    @extend .icon--arrow-up-2;
    &:before{
      color:$red;
    }
  }
}

@include quick-media-query(medium){
  .accordian--small{
    > .accordian__title{
      cursor:inherit;
      &:before{
        display:none;
      }
    }
    > .accordian__content{
      display:block!important;
    }
  }
}
