/*------------------------------------*\
    $ACCORDIAN
\*------------------------------------*/

.accordian{
  overflow: hidden;
}

  .accordian__title{
    cursor:pointer;
    @extend .unselectable;

    .accordian.is-inactive > &, .accordian.is-inactive > &:before{
      cursor:auto;
      color:$grey!important;
    }
  }

  .accordian__content{
    display:none;

    .accordian.is-active > &{
      display:block;
    }
  }

@include quick-media-query(medium){
  .accordian--small{
    > .accordian__title{
      cursor:inherit;
      &:before{
        display:none;
      }
    }
    > .accordian__content{
      display:block;
    }
  }
}
